[[source]]
url = "https://mirrors.aliyun.com/pypi/simple/"
verify_ssl = true
name = "pypi"

[packages]
prometheus-client = "==0.16.0"
redis = "==4.5.1"
locust = "==2.15.1"
flask = "==2.2.2"

[dev-packages]

[requires]
python_version = "3.11"
