[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
prometheus-client = "*"
redis = "*"
locust = "==2.8.6"
flask = "2.2.2"

[dev-packages]

[requires]
python_version = "3.11"
